
.headTitle{
 color: rgb(214, 3, 3);
  margin: 50px 400px;
  display: flex;
  justify-content: space-between;
}
.c1:hover{
  color: aqua;
  text-decoration-line: underline;
}
.c2:hover{
  text-decoration-line: underline;
  color: rgb(128, 108, 182);
  text-decoration-line: underline;
}
.c3:hover:hover{
  color: rgb(135, 235, 180);
  text-decoration-line: underline;
}
.c4:hover{
  color: rgb(252, 235, 141);
  text-decoration-line: underline;
}
.c5:hover{
  color: rgb(250, 140, 173);
  text-decoration-line: underline;
}
.c6:hover{
  color: rgb(235, 182, 123);
  text-decoration-line: underline;
}
.c7:hover{
  color: rgb(255, 138, 245);
  text-decoration-line: underline;
}
.c8:hover{
  color: rgb(237, 253, 143);
  text-decoration-line: underline;
}

.str{
  display: flex;
  justify-content: space-between;
  color:blue;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.btnSearching {
    color: rgb(214, 3, 3);
    border-color: rgb(214, 3, 3);
}
